.pm-addons {
  text-align: center;
  margin-bottom: 100px;
  h4 {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 40px;
    font-size: 18px;
  }
}
.pm-add-options {
  display: flex;
  justify-content: space-between;
  @media (max-width: $small-max) {
    flex-direction: column;
    align-items: center;
    li {
      margin-bottom: 20px;
      width: 100%;
    }
  }
  @media (min-width: $medium-min) {
    li {
      width: calc( 50% - 25px );
    }
  }
  li {
    border: 1px solid $lt-brown;
    padding: 20px;
    box-sizing: border-box;
    a {
      display: block;
      color: $lt-brown;
    }
    strong {
      display: block;
    }
  }
}
