.pm-blog {
  @media (max-width: $small-max) {
    flex-direction: column;
  }
  > *:first-child {
    @media (min-width: $medium-min) and (max-width: $medium-mid) {
      width: 70%;
      margin-right: 3%;
    }
  }
}
.pm-blog-article {
  @media (max-width: $small-max) {
    .pm-searchbox,
    .pm-categories,
    .pm-article-tags {
      display: none;
    }
  }
}
.pm-blog-list {
  .pm-read-more {
    font-size: 14px;
    font-weight: 700;
    color: $brown;
    text-decoration: underline;
  }
  .pm-pagination {
    @media (min-width: $medium-min) {
      display: flex;
      justify-content: space-between;
      margin: 60px 0;
    }
    @media (max-width: $small-max) {
      text-align: center;
      margin: 20px 0 60px;
      > * {
        display: block;
        margin-bottom: 20px;
      }
    }
  }
}
.pm-blog-item {
  padding-bottom: 50px;
  &:not(:first-child) {
    padding-top: 50px;
    border-top: 1px solid $brown;
  }
  time {
    font-size: 14px;
    font-weight: 700;
    color: $pink;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block;
  }
  .pm-blog-title {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.4em;
  }
  img {
    margin-bottom: 30px;
    width: 100%;
  }
  p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6em;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6em;
  }
  .pm-article-tags {
    font-weight: bold;
    a {
      text-transform: uppercase;
      color: $brown;
    }
  }
}
.pm-article-tools {
  margin: 80px 0 0;
  padding-bottom: 50px;
  border-bottom: 1px solid $brown;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.pm-blog-sidebar {
  display: flex;
  justify-content: flex-end;
  .pm-blog-sidebar-inner {
    width: 100%;
    @media (min-width: $medium-min) {
      max-width: 240px;
    }
  }
  .pm-categories {
    text-align: center;
    @media (min-width: $medium-min) {
      margin-bottom: 100px;
    }
    @media (max-width: $small-max) {
      margin-bottom: 20px;
    }
    .pm-label {
      margin-bottom: 5px;
    }
    ul {
      width: 100%;
    }
    li {
      a {
        font-weight: 300;
        font-size: 15px;
      }
    }
  }
  .pm-vendor-list {
    border: none;
  }
  .pm-vendors {
    flex-direction: column;
    ul {
      min-width: 100%;
    }
  }
}
.pm-more-posts {
  padding: 30px 0;
  @media (max-width: $small-max) {
    text-align: center;
    border-bottom: 1px solid $brown;
  }
  ul {
    display: flex;
    @media (min-width: $medium-min) and (max-width: $medium-max) {
      overflow: hidden;
      li {
        min-width: calc( 50% - 40px );
        margin-bottom: 20px;
      }
    }
    @media (max-width: $small-max) {
      overflow: hidden;
      li {
        min-width: 100%;
        margin-bottom: 20px;
        padding: 0 60px;
        box-sizing: border-box;
      }
    }
    li {
      margin-right: 40px;
      font-weight: 300;
      line-height: 1.6em;
    }
    a {
      color: $pink;
      text-decoration: underline;
    }
  }
  h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .pm-related {
    margin-bottom: 60px;
    h2 {
      color: $brown;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }
  .pm-prev-next-post {
    @media (max-width: $small-max) {
      ul {
        flex-direction: column;
        li {
          margin-bottom: 40px;
        }
      }
    }
    h2 {
      color: $pink;
    }
    ul {
      @media (min-width: $large-min) {
        li {
          max-width: calc( 33.33% - 40px );
        }
      }
    }
  }
}
