


.pm-booking-details {
  background: $lt-pink;
  text-align: center;
  padding: 60px 0;
}

.pm-booking-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  @media (max-width: $small-max) {
    font-size: 14px;
  }
  @media (min-width: $medium-min) {
    font-size: 25px;
  }
}

.pm-booking-detail-total {
  padding-top: 10px;
  border-top: 1px solid $brown;
  * {
    text-transform: uppercase;
    font-weight: 700;
  }
}

.pm-booking-info {
  font-weight: 300;
  margin: 10px 0 60px;
  a {
    color: $pink;
    text-decoration: underline;
  }
  @media (max-width: $small-max) {
    font-size: 16px;
  }
  @media (min-width: $medium-min) {
    font-size: 30px;
  }
}
