.pm-breadcrumbs {
  border-bottom: 1px solid $brown;
  padding: 20px 0;
  &.pm-breadcrumbs-w-filter {
    @media (min-width: $medium-min) {
      ul {
        max-width: calc( 100% - 160px );
      }
    }
  }
  .pm-inner {
    position: relative;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    font-size: 1.125em;
    &:not(:last-child) {
      &:after {
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        background: $brown;
        margin: 0 15px;
        vertical-align: middle;
      }
    }
    @media (max-width: $small-max) {
      font-size: 14px;
    }
    a {
      color: $brown;
    }
    span {
      color: $pink;
    }
  }
}
