.pm-category-hero {
  display: flex;
  .pm-category-hero-image {
    max-width: 1200px;
    width: 100%;
    background: url(../images/hero-dog2.jpg) no-repeat 70% 0;
    background-size: cover;
    @media (max-width: $small-max) {
      height: 65vh;
      max-height: 350px;
    }
    @media (min-width: $medium-min) and (max-width: $medium-max) {
      height: 400px;
    }
    @media (min-width: $large-min) {
      height: 450px;
    }
  }
  .pm-category-hero-slim {
    max-width: 1200px;
    width: 100%;
    background-size: cover;
    background-position: 70% 0;
    background-repeat: no-repeat;
    @media (max-width: $small-max) {
      height: 100px;
      font-size: 8px;
      &.pm-cat {
        background-position: top center;
      }
    }
    @media (min-width: $medium-min) {
      height: 200px;
    }
    &.pm-category-hero-full {
      max-width: 100%;
    }
    &.pm-hedgehog {
      background-image: url(../images/hero-animal-bg.jpg);
    }
    &.pm-cat {
      background-image: url(../images/hero-animal-bg-2.jpg);
    }
    &.pm-mouse {
      background-image: url(../images/hero-animal-bg-3.jpg);
    }
  }
  img {
    object-fit: cover;
    @media (max-width: $small-max) {

    }
  }
  .pm-category-bg-before,
  .pm-category-bg-after {
    flex: 1;
    background: url(../images/color-sq.jpg) repeat-x;
  }
  .pm-category-bg-before {
    background-position: center right;
  }
  .pm-category-bg-after {
    background-position: center left;
  }
  p {
    color: #fff;
  }
}
