.pm-contact-login {
  @media (max-width: $medium-mid) {
    flex-direction: column;
  }
  .pm-asset {
    img {
      width: 100%;
    }
  }
  .pm-form-wrapper {
    .pm-form {
      @media (min-width: $medium-mid + 1) {
        max-width: 380px;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
      }
      @media (max-width: $medium-mid) {
        width: 90%;
        max-width: 500px;
        margin: 20px auto 40px;
      }
      textarea {
        margin-bottom: 30px;
      }
    }
  }
  .pm-more-ways {
    text-align: center;
    @media (max-width: $medium-mid) {
      margin-top: 40px;
    }
    .facebook-login-button {
      @media (min-width: $large-min) {
        margin-bottom: 25px;
      }
      @media (min-width: $medium-mid + 1) and (max-width: $medium-max) {
        margin-bottom: 10px;
      }
      @media (max-width: $medium-mid) {
        margin-bottom: 15px;
      }
    }
    a {
      display: block;
      color: $pink;
      font-size: 14px;
    }
  }
}
