.pm-form {
  &:not(.pm-form-compact) {
    margin-bottom: 100px;
    .pm-label {
      @media (min-width: $medium-min) {
        margin: 60px 0;
      }
      @media (max-width: $small-max) {
        margin: 30px 0;
      }
    }
    .pm-select,
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      @media (min-width: $medium-min) {
        margin-bottom: 25px;
      }
      @media (max-width: $small-max) {
        margin-bottom: 15px;
      }
    }
  }
  &.pm-form-compact {
    .pm-label {
      @media (min-width: $medium-min) {
        margin-bottom: 20px;
      }
      @media (max-width: $small-max) {
        margin-bottom: 10px;
      }
    }
    .pm-select,
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      margin-bottom: 18px;
    }
  }
  .pm-label {
    text-align: center;
  }
  &:not(.pm-sm-check) {
    input[type="checkbox"] {
      @media (max-width: $small-max) {
        width: 25px;
        height: 25px;
      }
      @media (min-width: $medium-min) {
        width: 35px;
        height: 35px;
      }
      &:checked {
        &:before {
          margin-left: 8px;
          margin-top: 8px;
          width: 14px;
          height: 8px;
        }
      }
    }
  }
  &.pm-sm-check {
    input[type="checkbox"] {
      width: 16px;
      height: 16px;
      &:checked {
        &:before {
          width: 8px;
          height: 4px;
          margin-left: 2px;
          margin-top: 3px;
        }
      }
    }
  }
  form {
    display: block;
  }
  fieldset {
    margin-bottom: 75px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: 1px solid #563636;
    padding: 0 20px;
  }
  input,
  select,
  textarea {
    background: transparent;
    width: 100%;
    color: #563636;
    box-sizing: border-box;
    -webkit-appearance: none;
    @media (min-width: $medium-min) {
      height: 68px;
      font-size: 18px;
    }
    @media (max-width: $small-max) {
      height: 60px;
      font-size: 15px;
    }
  }
  input[type="checkbox"] {
    border: 1px solid #563636;
    vertical-align: middle;
    -webkit-appearance: none;
    &:checked {
      &:before {
        content: "";
        color: #563636;
        position: absolute;
        border-bottom: solid 1px #563636;
        border-left: solid 1px #563636;
        transform: rotate(-45deg);
      }
    }
  }
  textarea {
    border: 1px solid #563636;
    height: 165px;
    padding: 20px;
  }
  textarea::-webkit-input-placeholder {
    color: #563636;
  }
  textarea::-moz-placeholder {
    color: #563636;
  }
  .pm-strong {
    margin-bottom: 20px;
    display: block;
  }
  .pm-button {
    display: block;
    padding: 20px 0;
  }
  .pm-double-field {
    display: flex;
    justify-content: space-between;
    &.pm-align-end {
      @media (max-width: $small-max) {
        margin-bottom: 40px;
      }
      @media (min-width: $medium-min) {
        margin-bottom: 75px;
        align-items: flex-end;
      }
      fieldset {
        margin-bottom: 0;
      }
    }
    @media (min-width: $medium-min) {
      > div,
      > input {
        width: calc( 50% - 10px );
      }
    }
    @media (max-width: $small-max) {
      flex-direction: column;
    }
  }
  .pm-triple-field {
    display: flex;
    justify-content: space-between;
    @media (min-width: $medium-min) {
      > div,
      > input {
        width: calc( 33% - 12px );
      }
    }
    @media (max-width: $small-max) {
      flex-direction: column;
    }
  }
}
.pm-with-note {
  small {
    margin-left: 20px;
    font-weight: 300;
  }
}
.pm-end-note {
  font-weight: 300;
  color: $brown;
  line-height: 1.6em;
  text-align: center;
  @media (min-width: $medium-min) {
    margin-top: 70px;
    font-size: 18px;
  }
  @media (max-width: $small-max) {
    margin-top: 40px;
    font-size: 12px;
  }
}
.pm-form-placeholder {
  position: relative;
  &:before {
    content: attr(data-label);
    font-weight: 700;
    position: absolute;
    left: 20px;
    top: 25px;
  }
}
.pm-price {
  input[type="text"] {
    padding-left: 35px;
  }
}
.pm-per {
  .pm-select {
    padding-left: 50px;
  }
}
.pm-select {
  border: 1px solid #563636;
  position: relative;
  box-sizing: border-box;
  @media (min-width: $medium-min) {
    padding: 0 20px;
    &:before {
      width: 70px;
      background-size: 35%;
    }
    &:after {
      right: 70px;
    }
  }
  @media (max-width: $small-max) {
    padding: 0 10px 0 20px;
    &:before {
      width: 40px;
      background-size: 50%;
    }
    &:after {
      right: 40px;
    }
  }
  &:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #563636;
  }
  select {
    border: none;
    position: relative;
    z-index: 10;
    -moz-appearance: window;
  }
}
.pm-checkbox {
  margin-bottom: 20px;
}
.pm-form-label {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 15px;
  border-bottom: 1px solid #563636;
  display: block;
  margin-bottom: 35px;
  small {
    font-size: 13px;
    margin-left: 10px;
    @media (max-width: $small-max) {
      display: block;
      margin-left: 0;
    }
  }
}
.pm-form-sublabel {
  font-size: 18px;
  font-weight: 300;
  padding: 15px 0;
  display: block;
}
.pm-service-options {
  display: flex;
  flex-wrap: wrap;
  max-width: 750px;
}
.pm-option {
  margin-bottom: 20px;
  font-weight: 300;
  @media (max-width: $small-max) {
    font-size: 15px;
    width: 100%;
  }
  @media (min-width: $medium-min) {
    font-size: 20px;
    width: 50%;
  }
  label {
    position: relative;
    top: 2px;
  }
}
.pm-image-list {
  display: flex;
  @media (max-width: $small-max) {
    flex-direction: column;
    align-items: center;
    li {
      margin-bottom: 20px;
    }
  }
  li {
    background: #f5e9dc;
    @media (min-width: $medium-min) {
      margin-right: 40px;
    }
    a {
      width: 230px;
      height: 230px;
      display: block;
      color: #dba976;
      font-weight: 700;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}
.pm-add-image {
  a {
    &:before {
      content: url(../images/hedgehog-icon.svg);
      margin-bottom: 5px;
    }
    span{
      position: relative;
      padding-left: 20px;
      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 10px;
        width: 12px;
        height: 4px;
        background-color: #dba976;
      }
      &:after {
        transform: rotate(90deg);
      }
    }
  }
}
.pm-input-cvv {
  text-align: right;
  input {
    @media (min-width: $medium-min) {
      width: calc( 100% - 140px );
      max-width: 265px;
    }
  }
  img {
    vertical-align: middle;
  }
  @media (max-width: $small-max) {
    position: relative;
    img {
      position: absolute;
      right: 5px;
      top: 8px;
    }
    input[type="text"] {
      padding-right: 130px;
    }
  }
}
.pm-input-cc {
  position: relative;
  @media (max-width: $small-max) {
    padding-bottom: 40px;
  }
  @media (min-width: $medium-min) {
    input[type="text"] {
      padding-right: 250px;
    }
  }
  img {
    position: absolute;
    right: 5px;
    @media (max-width: $small-max) {
      bottom: 12px;
    }
    @media (min-width: $medium-min) {
      top: 12px;
    }
  }
}
