@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  background-repeat: no-repeat;
  font-family: 'Montserrat', serif;
  color: $brown;
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
select,
input {
  outline: none;
}
.pm-wrapper {
    width: 100%;
    margin: 0 auto;
    &.pm-wrapper-top-border {
      border-top: 1px solid $brown;
    }
}
.pm-inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.pm-inner-flex {
  display: flex;
  &:not(.pm-inner) {
    width: 100%;
  }
  > *:first-child {
    @media (min-width: $medium-mid + 1) {
      width: 57%;
      margin-right: 3%;
    }
  }
  > *:last-child {
    flex-grow: 1;
  }
}
.pm-button-std {
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #fff;
  text-align: center;
}
.pm-button {
  @extend .pm-button-std;
  background: $brown;
}
.pm-button-block {
  @extend .pm-button-std;
  background: $brown;
  padding: 20px 0;
  width: 90%;
  max-width: 440px;
}
.pm-button-pk {
  @extend .pm-button-std;
  background: $pink;
}
.pm-button-2 {
  @extend .pm-button-std;
  padding: 10px 40px;
  background-color: $lt-brown;
}
.pm-head {
  font-size: 45px;
  font-weight: bold;
  color: $brown;
  margin-bottom: 20px;
  text-transform: lowercase;
}
.pm-label {
  font-size: 20px;
  font-weight: 700;
  &:not(.pm-label-brn) {
    color: $pink;
  }
  &:not(.pm-label-notransform) {
    text-transform: uppercase;
  }
  &.pm-label-brn {
    color: $brown;
  }
  a {
    color: $pink;
    text-decoration: underline;
    font-weight: 300;
  }
}
.pm-label-sm {
  font-weight: 700;
  font-size: 15px;
  color: $pink;
  text-transform: uppercase;
}
.pm-label-normal {
  font-weight: 700;
  font-size: 1.563em;
  color: $pink;
}
.pm-label-underlined {
  font-weight: 700;
  display: inline-block;
  line-height: 1em;
  &:after {
    content: "";
    width: 85%;
    max-width: 200px;
    display: inline-block;
    height: 4px;
    background: $pink;
  }
  @media (min-width: $medium-min) {
    font-size: 28px;
  }
  @media (max-width: $small-max) {
    font-size: 20px;
  }
}
.pm-link {
  font-weight: 700;
  font-size: 15px;
  color: $pink;
  text-transform: uppercase;
  text-decoration: underline;
}
.pm-strong {
  font-weight: 700;
  text-transform: uppercase;
}
.pm-rating-heart {
  span {
    display: inline-block;
    background: url(../images/heart-rating-icon.svg) no-repeat;
    width: 14px;
    height: 14px;
    background-size: contain;
  }
}
