/* DESKTOP HERO */
.pm-hero-background {
    background: -webkit-linear-gradient(top, #ffffff, #ffffff 65%, #f26e6e 35%, #f26e6e);
}
.pm-hero {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    @media (max-width: $small-max) {
      font-size: 10px;
      position: relative;
    }
    @media (min-width: $medium-min) and (max-width: $medium-mid) {
      font-size: 9px;
    }
    @media (min-width: $medium-mid + 1) and (max-width: $medium-max) {
      font-size: 11px;
    }
    @media (min-width: $large-min) and (max-width: $large-max) {
      font-size: 13px;
    }
    ul {
      @media (min-width: $medium-min) {
        position: relative;
        margin-left: 2.67%;
      }
      @media (max-width: $small-max) {
        margin: 1em 0;
      }
    }
}
.pm-hero-image {
  position: relative;
  @media (min-width: $medium-min) {
    min-width: 53%;
    height: 53vw;
    max-height: 636px;
  }
  @media (max-width: $small-max) {
    margin: 1em 0;
    width: 272px;
    height: 278px;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    z-index: 1;
    &:nth-child(1) {
      @include animation(rotate 24s linear 0s infinite forwards);
    }
    &:nth-child(2) {
      @include animation(rotate 24s linear 6s infinite forwards);
    }
    &:nth-child(3) {
      @include animation(rotate 24s linear 12s infinite forwards);
    }
    &:nth-child(4) {
      @include animation(rotate 24s linear 18s infinite forwards);
    }
  }
}
.pm-hero-prefetch-1 {
  background: url(../images/petmasters-hero-pet.png) no-repeat -9999px -9999px;
}
.pm-hero-prefetch-2 {
  background: url(../images/petmasters-hero-pet-2.png) no-repeat -9999px -9999px;
}
.pm-hero-prefetch-3 {
  background: url(../images/petmasters-hero-pet-3.png) no-repeat -9999px -9999px;
}
.pm-hero-prefetch-4 {
  background: url(../images/petmasters-hero-pet-4.png) no-repeat -9999px -9999px;
}
.pm-hero-headline {
    margin: 23.5% 0 0 0;
    h1 {
        font-size: 4em;
        line-height: 1em;
        font-weight: 700;
        transition: all 0.2s ease;
        @media (max-width: $small-max) {
          font-size: 22px;
        }
    }
}
.pm-hero-subhead {
  h2 {
    font-size: 1.938em;
    color: #ffffff;
    @media (max-width: $small-max) {
      font-size: 600;
    }
    @media (min-width: $medium-min) {
      font-weight: 300;
    }
  }
  @media (min-width: $xlarge-min) {
    margin-left: 110px;
    bottom: 0;
  }
  @media (min-width: $large-min) and (max-width: $large-max) {
    margin-left: 80px;
    bottom: 5%;
  }
  @media (min-width: $medium-min) and (max-width: $medium-max) {
    bottom: 10%;
  }
  @media (min-width: $medium-min) {
    position: absolute;
    right: 0;
  }
  @media (max-width: $small-max) {
    margin: 1em 0;
  }
}


@media (max-width: $small-max) {
  .pm-hero-background {
      background: -webkit-linear-gradient(top, #ffffff 16%, #f26e6e 16%);
  }
  .pm-hero {
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
      h1 {
          line-height: 22px;
          font-size: 22px;
          font-weight: 700;
      }
      h2 {
          font-size: 20px;
          font-weight: 600;
          color: #ffffff;
          margin: 0;
      }
      ul {
          padding: 0;
      }
      li {
          text-align: center;
      }
  }
  .pm-hero-headline {
      width: 318px;
      position: absolute;
      bottom: -230px;
      left: 0;
      right: 0;
      margin: auto!important;
  }
  .pm-hero-subhead {
      width: 318px;
  }

}

@include keyframes(rotate) {
  3% { opacity: 1; }
  25% { opacity: 1; }
  26% { opacity: 0; }
  100% { opacity: 0; }
}
