.pm-listing{
  @media (min-width: $medium-min) {
    margin: 60px 0;
    .pm-inner {
      display: flex;
      flex-wrap: wrap;
    }
  }
  @media (max-width: $small-max) {
    margin: 25px 0;
  }
  .pm-listing-left {
    @media (min-width: $medium-min) {
      width: 60%;
    }
  }
  .pm-listing-right {
    @media (min-width: $medium-min) {
      width: 40%;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }
    > div {
      @media (min-width: $large-min) {
        max-width: 340px;
        min-width: 340px;
      }
      @media (min-width: $medium-mid + 1) and (max-width: $medium-max) {
        max-width: 300px;
        min-width: 300px;
      }
      @media (min-width: $medium-min) and (max-width: $medium-mid) {
        max-width: 90%;
      }
    }
  }
  .pm-listing-main {
    @media (min-width: $medium-min) {
      margin-bottom: 130px;
    }
    @media (max-width: $small-max) {
      margin-bottom: 80px;
    }
  }
  .pm-listing-name {
    @media (max-width: $small-max) {
      margin-bottom: 50px;
    }
    .pm-vendor {
      background-color: #ffffff;
      box-shadow: 0 0 4.4px 0.7px rgba(0,0,0,0.06);
      box-sizing: border-box;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      margin-bottom: 20px;
      @media (min-width: $medium-mid + 1) {
        padding: 55px 40px;
      }
      @media (min-width: $medium-min) and (max-width: $medium-mid) {
        padding: 30px 10px;
      }
      @media (max-width: $small-max) {
        padding: 55px 50px;
      }
      .img-wrapper {
        margin-bottom: 20px;
        width: 128px;
        height: 128px;
        border: 4px solid $brown;
        border-radius: 128px;
        overflow: hidden;
        img {
          width: 106%;
          margin-left: -3%;
          margin-top: -3%;
        }
      }
    }
    .pm-vendor-name {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 40px;
    }
  }
  .pm-carousel {
    @media (min-width: $medium-min) {
      margin-bottom: 40px;
    }
    @media (max-width: $small-max) {
      margin-bottom: 20px;
    }
    img {
      width: 100%;
    }
    .slick-arrow {
      z-index: 100;
      &.slick-next {
        right: 10px;
      }
      &.slick-prev {
        left: 10px;
      }
    }
    .pm-slide-main {
      margin-bottom: 10px;
    }
    .pm-slide-thumb {
      @media (max-width: $small-max) {
        display: none;
      }
      margin-right: -10px;
      .slick-slide {
        margin-right: 10px;
      }
    }
  }
  .pm-listing-details {
    @media (max-width: $small-max) {
      font-size: 12px;
      p {
        transition: all 0.3s ease-in-out;
      }
      .pm-more {
        font-size: 14px;
        font-weight: 600;
        text-decoration: underline;
        color: $pink;
        transform: translateY(-35px);
        display: block;
        float: right;
        margin-right: 5px;
      }

      &.collapsed {
        p {
          display: -webkit-box;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
          max-height: 9.6em;
          overflow: hidden;
        }
        .pm-more {
          &:after {
            content: "read more";
          }
        }
      }
      &:not(.collapsed) {
        p {
          max-height: 2000px;
        }
        .pm-more {
          &:after {
            content: "read less";
          }
        }
      }
    }
    @media (min-width: $medium-min) {
      .pm-more {
        display: none;
      }
    }
    h2 {
      font-size: 2.188em;
      font-weight: 300;
      color: $pink;
      margin-bottom: 10px;
    }
    small {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: $brown;
      display: block;
      margin-bottom: 30px;
    }
    .pm-rating-heart {
      margin-bottom: 20px;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.6em;
      margin-bottom: 40px;
    }
    .pm-button {
      display: block;
      padding: 20px 0;
    }
  }
  .pm-service-check {
    @media (min-width: $medium-min) {
      margin-bottom: 60px;
      display: flex;
      flex-wrap: wrap;
    }
    @media (max-width: $small-max) {
      margin-bottom: 30px;
    }
    padding-top: 20px;
    border-top: 1px solid $gray;
    li {
      min-width: 150px;
      font-size: 16px;
      margin-bottom: 15px;
      color: $pink;
      position: relative;
      padding-left: 25px;
      &:before {
        content: "";
        position: absolute;
        border-bottom: solid 3px $brown;
        border-left: solid 3px $brown;
        transform: rotate(-45deg);
        width: 14px;
        height: 6px;
        left: 0;
      }
    }
  }
  .pm-listing-services {
    .pm-listing-service {
      border-top: 1px solid $brown;
      @media (min-width: $medium-min) {
        margin-bottom: 80px;
        h4 {
          margin: 15px 0 35px;
        }
      }
      @media (max-width: $small-max) {
        margin-bottom: 50px;
        h4 {
          margin: 15px 0 25px;
        }
      }
      h4 {
        font-size: 16px;
        font-weight: 600;
        color: $pink;
      }
      ul {
        @media (min-width: $medium-min) {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          li {
            width: 30%;
          }
        }

        li {
          margin-bottom: 15px;
          font-weight: 300;
        }
      }
      &.pm-listing-expand {
        .pm-show-more-list {
          max-height: 1000px;
        }
        .pm-show-more {
          &:before {
            content: "Show Less";
          }
          &:after {
            transform: rotate(135deg);
          }
        }
      }
    }
    .pm-show-more-list {
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
    }
    .pm-show-more {
      font-size: 14px;
      color: $brown;
      font-weight: 600;
      display: block;
      margin: 10px 0;
      position: relative;
      &:before {
        content: "Show All";
      }
      &:after {
        content: "";
        border-bottom: solid 2px $brown;
        border-left: solid 2px $brown;
        transform: rotate(-45deg);
        width: 5px;
        height: 5px;
        position: absolute;
        bottom: 6px;
        margin-left: 6px;
      }
    }
  }
  .pm-listing-reviews {
    @media (min-width: $medium-min) {
      margin-top: -130px;
    }
    .pm-listing-review-list {
      background-color: #ffffff;
      box-shadow: 0 0 4.4px 0.7px rgba(0,0,0,0.06);
      box-sizing: border-box;
      @media (min-width: $medium-mid + 1) {
        padding: 50px 40px 20px;
      }
      @media (min-width: $medium-min) and (max-width: $medium-mid) {
        padding: 30px 20px 10px;
      }
      @media (max-width: $small-max) {
        padding: 50px 40px 20px;
      }
      h2 {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        color: $pink;
        text-align: center;
        margin-bottom: 15px;
      }
    }
    .pm-listing-review {
      border-top: 1px solid $brown;
      font-size: 14px;
      padding: 30px 0;
      p {
        margin: 15px 0;
        font-weight: 300;
        line-height: 1.5em;
      }
    }
  }
}
