.pm-multiple-listing {
  background: $brown;
  @media (max-width: $medium-mid) {
    margin-bottom: 110px;
  }
  @media (min-width: $medium-mid + 1) {
    height: 530px;
    margin-bottom: 180px;
  }
  .pm-inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    @media (max-width: $medium-mid) {
      flex-direction: column;
      align-items: center;
    }
  }
}
.pm-listings {
  .pm-vendors {
    width: 100%;
    flex-wrap: nowrap;
    @media (max-width: $small-max) {
      flex-direction: row;
      .pm-featured-icon {
        width: 75px;
        height: 75px;
        margin: 25px auto 15px auto;
      }
      .pm-featured-name {
        a {
          font-size: 8px;
          line-height: 2em;
        }
      }
      .pm-featured-tagline {
        margin-bottom: 0;
        a {
          font-size: 11px;
        }
      }
      .pm-featured-button {
        font-size: 8px;
        width: auto;
        padding: 5px 15px;
        display: inline-block;
        margin: 0px auto 25px;
      }
    }
    @media (min-width: $medium-min) and (max-width: $medium-mid) {
      .pm-featured-icon {
        width: 120px;
        height: 120px;
        margin: 25px auto 15px auto;
      }
      .pm-featured-button {
        margin: 5px auto 35px;
      }
    }
    @media (max-width: $medium-mid) {
      justify-content: center;
      margin-bottom: -45px;
    }
    @media (min-width: $medium-mid + 1) {
      justify-content: stretch;
    }
    ul {
      @media (max-width: $medium-mid) {
        min-width: 45%;
      }
      @media (min-width: $medium-mid + 1) and (max-width: $medium-max) {
        min-width: 300px;
      }
      @media (min-width: $large-min) and (max-width: $large-mid) {
        min-width: 340px;
      }
      @media (min-width: $large-mid + 1) {
        min-width: 380px;
      }
      &:first-child {
        margin-top: 50px;
        position: relative;
        z-index: 10;
      }
      &:last-child {
        margin-left: -32px;
        transform: rotate(7deg);
        margin-top: 38px;
      }
    }
  }
}
.pm-listing-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  @media (max-width: $medium-mid) {
    order: -1;
    margin: 80px 0 20px;
    p {
      max-width: 420px;
    }
  }
  @media (min-width: $medium-mid + 1) {
    width: 36%;
  }
  @media (min-width: $medium-min) and (max-width: $large-mid) {
    font-size: 14px;
  }
  p {
    color: #fff;
    line-height: 1.25em;
    font-size: 1.250em;
  }
  strong {
    color: $lt-brown;
    font-weight: 600;
    font-size: 1.875em;
  }
}
.pm-listing-head {
  display: inline-block;
  margin-bottom: 40px;
  &:after {
    content: "";
    width: 130px;
    height: 4px;
    background: #fff;
    display: block;
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

  }
}
