/* DESKTOP NAVIGATION */
.pm-nav {
    max-width: 1200px;
    width: 98%;
    height: 41px;
    margin: 25px auto 0 auto;
    &.internal-nav {
      margin-bottom: 25px;
    }
}
.pm-nav-logo {
    display: inline-flex;
    width: 338px;
}
.pm-nav-links {
    display: inline-flex;
    max-width: 862px;
    vertical-align: top;
    float: right;
}
.pm-nav-item {
    color: #563636;
}
.pm-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.pm-nav li {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    line-height: 41px;
    padding: 0 14px;
    text-align: center;
}
.pm-nav li a {
    text-decoration: none;
}
.pm-nav li a:hover {
    text-decoration: underline;
}
.pm-nav-login {
    color: #ffffff;
    background-color: #dba976;
    font-weight: 800;
    font-size: 15px!important;
    width: 102px;
    text-decoration: none;
    margin: 0 7px 0 14px;
}
.pm-nav-list {
    color: #ffffff;
    background-color: #563636;
    font-weight: 800;
    font-size: 15px!important;
    width: 178px;
    margin: 0 0 0 7px;
}
.pm-nav-login a, .pm-nav-list a {
    color: #ffffff;
    text-decoration: none;
}
.pm-nav-login a:hover, .pm-nav-list a:hover {
    text-decoration: underline;
}
@media screen and (min-width: $large-min) {
    nav {
        display: none;
    }
}
/* MOBILE NAVIGATION */
@media screen and (max-width: $medium-max) {
    .pm-nav {
        display: none;
    }
    .mobile-header {
      position: relative;
      z-index: 100;
    }
    #menuToggle {
        display: inline-block;
        position: relative;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }
    /*Just a quick hamburger*/
    #menuToggle span {
        display: block;
        position: relative;
        background: #563636;
        border-radius: 2px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }
    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }
    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    /*Transform all the slices of hamburger into a crossmark.*/
    #menuToggle input:checked ~ span {
        opacity: 1;
        background: #dba976;
    }
    /*But let's hide the middle one.*/
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    /*Ohyeah and the last one should go the other direction*/
    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    /*Make this absolute positioned at the top left of the screen */
    .pm-menu {
      position: fixed;
      width: 300px;
      left: 0;
      top: 0;
      height: 100vh;
      background: #563636;
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    #menu {
        background: #563636;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
    }
    #menu-bottom {
        padding: 50px;
        background: #f26e6e;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
    }
    .social-icons {
        display: inline-block;
        width: 100%;
    }
    .social-icons div {
        display: inline;
    }
    #menu li, #menu-bottom li {
        padding: 10px 0;
        font-size: 22px;
        text-align: center;
    }
    #menu a {
        font-weight: 800;
        font-size: 25px;
        text-decoration: none;
        color: #dba976;
        transition: color 0.3s ease;
    }
    #menu a:hover {
        color: tomato;
    }
    #menu-bottom li a {
        color: #563636;
        font-weight: 700;
        font-size: 25px;
        text-decoration: none;
    }
    /* * And let's slide it in from the left */
    #menuToggle input:checked ~ .pm-menu {
        transform: none;
    }
    .mobile-header {
        width: 90%;
        margin: 15px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          transition: all 0.3s ease;
        }
    }
    .mobile-header-logo {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .mobile-header-search {
        display: inline-block;
    }
}

@media screen and (min-width: $medium-min) and (max-width: $medium-max) {
  #menuToggle {
    span {
      width: 28px;
      height: 3px;
      margin-bottom: 4px;
    }
    input:checked ~ span {
      transform: rotate(45deg) translate(-3px, -1px);
    }
  }
  #menu {
    padding: 125px 50px 50px;
  }
  .mobile-header-search {
    img {
      min-width: 25px;
      max-width: 25px;
    }
  }
}
@media screen and (max-width: $small-max) {
  #menuToggle {
    span {
      width: 25px;
      height: 2px;
      margin-bottom: 3px;
    }
    input:checked ~ span {
      transform: rotate(45deg) translate(-4px, -2px);
    }
  }
  #menu {
    padding: 65px 50px 50px;
  }
  .mobile-header-logo {
    img {
      min-width: 190px;
      max-width: 190px;
    }
  }
  .mobile-header-search {
    img {
      min-width: 20px;
      max-width: 20px;
    }
  }
}
