.pm-other-categories {
  text-align: center;
  margin-bottom: 80px;
  @media (max-width: $small-max) {
    font-size: 14px;
  }
  .pm-label-normal {
    max-width: 800px;
    margin: 0 auto 20px;
    line-height: 1.520em;
  }
  .pm-label-underlined {
    @media (min-width: $medium-min) {
      margin: 60px 0;
    }
    @media (max-width: $small-max) {
      margin: 60px 0 30px;
    }
  }
  p {
    font-size: 0.938em;
    font-weight: 600;
    margin-bottom: 40px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      background: $brown;
      margin-bottom: 10px;
      @media (min-width: $medium-min) {
        width: calc( 50% - 8px );
      }
      @media (max-width: $small-max) {
        width: 100%;
      }
      a {
        font-size: 1.125em;
        font-weight: 600;
        color: #fff;
        display: block;
        padding: 15px 0;
      }
    }

  }
}
