/* DESKTOP SEARCH */
.pm-search-wrapper {
    background-color: #f26e6e;
    width: 100%;
}
.pm-search {
    margin: 0 auto;
    padding: 45px 0;
    max-width: 1200px;
    width: 90%;
    display:flex;
    justify-content: space-between;
}
.pm-search input {
    font-weight: 300;
    margin: 0 5px;
    padding: 0;
    text-indent: 25px;
    border: none;
    &[type="text"] {
      min-width: 70%;
    }
    @media (min-width: $medium-min) and (max-width: $medium-mid) {
      height: 60px;
      font-size: 14px;
    }
    @media (min-width: $medium-mid + 1) {
      height: 70px;
      font-size: 18px;
    }
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #563636;
}
input::-moz-placeholder { /* Firefox 19+ */
    color: #563636;
}
input:-ms-input-placeholder { /* IE 10+ */
    color: #563636;
}
input:-moz-placeholder { /* Firefox 18- */
    color: #563636;
}
.pm-search input[type="submit"] {
    flex-grow: 1;
    font-weight: 800;
    color: #ffffff;
    background-color: #6a3f2c;
    border:1px solid #6a3f2c;
    text-indent: 0;
    @media (min-width: $medium-min) and (max-width: $medium-mid) {
      font-size: 16px;
    }
    @media (min-width: $medium-mid + 1) {
      font-size: 20px;
    }
}
.pm-searchbox {
  border: 1px solid $brown;
  height: 44px;
  position: relative;
  input {
    font-family: 'Montserrat', serif;
    background: transparent;
    border: none;
    width: calc( 100% - 60px );
    line-height: 40px;
    text-indent: 10px;
    font-size: 14px;
    position: relative;
    z-index: 10;
    -webkit-appearance: none;
  }
  .pm-search-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 3px;
    width: 50px;
    bottom: 0;
    background: #212221 url(../images/white-magnifying-glass-icon.svg) no-repeat center;
    background-size: 50%;
    cursor: pointer;
  }
}
@media (max-width: $small-max) {
  .pm-search {
      margin: 0 auto;
      padding: 0;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .pm-search input {
      width: 315px;
      height: 50px;
      font-weight: 300;
      font-size: 14px;
      color: #563636;
      padding: 0;
      margin: 10px 0;
      text-indent: 15px;
  }
  .pm-search input[type="submit"] {
      width: 315px;
      height: 50px;
      font-weight: 800;
      font-size: 16px;
      color: #ffffff;
      background-color: #6a3f2c;
      border:1px solid #6a3f2c;
      text-indent: 0px;
      margin: 0 0 40px 0;
  }
}
