/* DESKTOP SERVICES */
.pm-services-background {
    @media (min-width: $medium-min) and (max-width: $medium-max) {
      background: -webkit-linear-gradient(top, #f26e6e 13%, #ffffff 13%, #ffffff 15%, #f8eae3 15%);
    }
    @media (min-width: $large-min) {
      background: -webkit-linear-gradient(top, #f26e6e 22%, #ffffff 22%, #ffffff 24%, #f8eae3 24%);
    }
}
.pm-services{
    margin: 0 auto 75px auto;
    max-width: 1200px;
    width: 90%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
    @media (max-width: $medium-max) {
      font-size: 14px;
    }
    ul {
      list-style-type: none;
      padding: 0;
      text-align: center;
      @media (min-width: $medium-min) {
        min-width: 23%;
        max-width: 23%;
      }
    }
    li:not(.pm-service-type) {
      font-size: 1.125em;
      margin: 15px 0;
    }
}
.pm-service-type {
    font-weight: 700;
    font-size: 1.875em;
    line-height: 1.67em;
    border-bottom: 3px solid #f26d6d;
    margin: 0 0 55px 0;
}
.pm-service-type a, .pm-services li a  {
    color: #563636;
    text-decoration: none;
}
.pm-services li a:hover  {
     text-decoration: underline;
}
.pm-service-icon {
    display: block;
    background: #dba976;
    -moz-border-radius: 142px;
    -webkit-border-radius: 142px;
    background-position: center center;
    background-repeat: no-repeat;
    @media (min-width: $medium-min) {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      background-size: 35%;
    }
    @media (max-width: $small-max) {
      width: 140px;
      height: 140px;
      display: inline-block;
      background-size: 30%;
    }
    &.caretaking {
      background-image: url(../images/caretaking-icon.svg);
    }
    &.wellness {
      background-image: url(../images/wellness-icon.svg);
    }
    &.specialty {
      background-image: url(../images/specialty-icon.svg);
      background-size: 25%;
    }
    &.time-of-need {
      background-image: url(../images/time-of-need-icon.svg);
      & + .pm-service-type {
        @media (min-width: $medium-min) and (max-width: $medium-mid) {
          font-size: 23px;
          line-height: 43px;
        }
      }
    }
}
.pm-service-hr {
    display: none;
}
.pm-service-desktop-hr {
    max-width: 1200px;
    background-color: #563636;
    border: 1px solid #563636;
}
.pm-statement {
    max-width: 1200px;
    margin: 75px auto 0 auto;
    padding: 0 0 55px 0;
    width: 90%;
    @media (min-width: $medium-min) and (max-width: $medium-max) {
      font-size: 14px;
    }
}
.pm-statement p {
    font-size: 1.875em;
    line-height: 1.5em;
    font-weight: 400;
    text-align: center;
}

@media (max-width: $small-max) {
  .pm-services {
      margin: 0 auto -15px auto;
      padding: 0;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .pm-services-background {
      background: -webkit-linear-gradient(top, #ffffff 3.5%, #f8eae3 3.5%);
      margin-top: 80px;
  }
  .pm-services li {
      margin: 10px 0;
  }
  .pm-service-type {
      font-weight: 700;
      font-size: 19px!important;
      line-height: 30px;
      border-bottom: 3px solid #f26d6d;
      margin: 0 0 25px 0!important;
  }
  .pm-service-type a, .pm-services li a  {
      color: #563636;
      text-decoration: none;
  }
  .pm-services li a:hover  {
       text-decoration: underline;
  }
  .pm-service-icon {
      border-radius: 71px;
  }
  .pm-service-desktop-hr {
      display: none;
  }
  .pm-service-hr {
      display: inline;
      width: 85%;
      background-color: #563636;
      border: 1px solid #563636;
  }
  .pm-service-hr:nth-last-of-type(1) {
      margin-top: 15px;
  }
  .pm-statement {
      width: 85%;
      margin: 45px auto 0 auto;
      padding: 0 0 45px 0;
  }
  .pm-statement p {
      font-size: 15px;
      line-height: 25px;
      font-weight: 500;
      color: #563636;
      text-align: center;
  }
}
