.pm-share {
  ul {
    display: flex;
    margin-top: 10px;
    li {
      width: 32px;
      height: 32px;
      border-radius: 32px;
      margin-right: 5px;
      text-align: center;
      &.facebook {
        background-color: #3b5998;
      }
      &.twitter {
        background-color: #2ba9e1;
      }
      &.gplus {
        background-color: #de4b38;
      }
      img {
        width: 70%;
        margin-top: 4px;
      }
    }
  }
}
