.pm-state-list {
  text-align: center;
  margin-top: 50px;
  @media (min-width: $medium-min) {
    margin-bottom: 80px;
  }
  @media (max-width: $small-max) {
    margin-bottom: 50px;
  }
}
.pm-state-list-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  ul {
    background: $lt-pink;
    li {
      padding: 10px 0;
      line-height: 1em;
      a {
        font-size: 18px;
        color: $brown;
      }
    }
    @media (min-width: $large-min) {
      width: calc( 25% - 6px );
      padding: 50px 0;
    }
    @media (min-width: $medium-min) and (max-width: $medium-max) {
      width: calc( 50% - 4px );
      padding: 20px 0;
      margin-bottom: 8px;
    }
    @media (max-width: $small-max) {
      width: 100%;
      &:first-child {
        padding-top: 40px;
      }
      &:last-child {
        padding-bottom: 40px;
      }
    }
  }
}
