.pm-tiles-overlap {
  margin-top: 10px;
  margin-bottom: 50px;
}
.pm-tiles-base {
  background: $pink;
  text-align: center;

  @media (max-width: $small-max) {
    font-size: 18px;
    padding: 40px 0 60px;
  }
  @media (min-width: $medium-min) and (max-width: $medium-max) {
    font-size: 24px;
    padding: 40px 0 100px;
  }
  @media (min-width: $large-min) {
    font-size: 30px;
    padding: 50px 0 120px;
  }
  h4 {
    color: #fff;
    display: inline-block;
    margin-bottom: 20px;
    &:after {
      content: "";
      width: 200px;
      height: 4px;
      background-color: #fff;
      display: block;
      margin-top: 10px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  p {
    width: 90%;
    margin: 0 auto;
    color: $lt-pink;
    font-weight: 300;
    @media (max-width: $small-max) {
      line-height: 1.67em;
    }
    @media (min-width: $medium-min) {
      line-height: 1.167em;
    }
  }
}
.pm-tiles {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  li {
    background: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 1.8em;
    box-shadow: 0 0 8px 1px rgba(11,11,12, 0.1);
    box-sizing: border-box;
    word-wrap: break-word;
  }
  @media (min-width: $large-min) {
    li {
      padding: 50px 20px;
    }
  }
  @media (min-width: $medium-min) and (max-width: $medium-mid) {
    li {
      font-size: 12px;
    }
  }
  @media (min-width: $medium-min) and (max-width: $medium-max) {
    li {
      padding: 30px 10px;
    }
  }
  @media (min-width: $medium-min) {
    transform: translateY(-30%);
    li {
      max-width: 19%;
      min-width: 19%;
    }
  }
  @media (max-width: $small-max) {
    flex-direction: column;
    align-items: center;
    transform: translateY(-30px);
    li {
      width: 230px;
      height: 200px;
      margin-bottom: 10px;
      padding: 50px 20px;
    }
  }
}
